<div class="chat-message"
     data-controller="chat-message"
     data-message-user-id="<%= message.user_id %>">
  <div class="chat-message__meta">
    <strong><%= message.user.display_name %></strong>
    <time datetime="<%= message.created_at.iso8601 %>" title="<%= message.created_at.strftime("%B %d, %Y %H:%M") %>">
      <%= message.created_at.strftime("%H:%M") %>
    </time>
  </div>

  <div class="chat-message__body"><%= message.content %></div>
</div>
