<% content_for :title, "Sign up" %>

<div class="auth-shell">
  <%= render "devise/shared/auth_scene" %>
  <section class="auth-card auth-card--stacked">
    <div class="auth-card__hero auth-card__hero--banner">
      <p class="auth-card__eyebrow">CUHK Marketplace</p>
      <h1 class="auth-card__title">Create your account</h1>
      <p class="auth-card__copy">
        Choose your college and default campus location so listings, offers, and distance features work immediately.
      </p>
    </div>

    <div class="auth-card__panel">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "auth-form" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="auth-form__grid auth-form__grid--triple">
          <div class="auth-form__field">
            <%= f.label :email %>
            <span class="auth-form__hint auth-form__hint--placeholder" aria-hidden="true">&nbsp;</span>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "auth-form__input" %>
          </div>

          <div class="auth-form__field">
            <%= f.label :pseudo, "Username" %>
            <span class="auth-form__hint">Required, 15 characters maximum</span>
            <%= f.text_field :pseudo, autocomplete: "username", maxlength: User::PSEUDO_MAX_LENGTH, required: true, class: "auth-form__input" %>
            <% if resource.errors[:pseudo].any? %>
              <p class="profile-inline-edit__error"><%= resource.errors[:pseudo].first %></p>
            <% end %>
          </div>

          <div class="auth-form__field">
            <%= f.label :college_id, "College" %>
            <span class="auth-form__hint auth-form__hint--placeholder" aria-hidden="true">&nbsp;</span>
            <%= f.collection_select :college_id, College.order(:name), :id, :name, { prompt: "Choose a college..." }, { class: "auth-form__select", data: { controller: "enhanced-select" } } %>
          </div>
        </div>

        <div class="auth-form__grid">
          <div class="auth-form__field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <span class="auth-form__hint"><%= @minimum_password_length %> characters minimum</span>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class: "auth-form__input" %>
          </div>

          <div class="auth-form__field">
            <%= f.label :password_confirmation %>
            <span class="auth-form__hint auth-form__hint--placeholder" aria-hidden="true">&nbsp;</span>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "auth-form__input" %>
          </div>
        </div>

        <div class="auth-form__field">
          <%= f.label :default_location, "Default campus location" %>

          <div data-controller="map-picker"
               data-map-picker-initial-lat-value="22.4172"
               data-map-picker-initial-lng-value="114.2071"
               data-map-picker-zoom-value="15"
               class="auth-map-picker">

            <div data-map-picker-target="map" class="market-map market-map--compact auth-map-picker__map"></div>

            <p class="auth-form__hint">
              Click on the campus map to set your usual location for distance calculations. If you skip this, we will use your college's default campus location.
            </p>

            <%= f.hidden_field :latitude, data: { map_picker_target: "latInput" } %>
            <%= f.hidden_field :longitude, data: { map_picker_target: "lngInput" } %>
            <%= f.hidden_field :default_location, data: { map_picker_target: "locationNameInput" } %>
          </div>
        </div>

        <%= f.submit "Create account", class: "market-button" %>
      <% end %>

      <div class="auth-links auth-links--center">
        <p class="auth-links__item">
          <%= link_to "Sign in", new_session_path(resource_name), class: "auth-links__link" %>
        </p>
      </div>
    </div>
  </section>
</div>
