<div class="search-bar-container">
  <%= form_with url: search_path, method: :get, local: true, class: "flex gap-2" do %>
    <% if params[:category_id].present? %>
      <%= hidden_field_tag :category_id, params[:category_id] %>
    <% end %>

    <% marketplace_base_params.each do |name, value| %>
      <%= hidden_field_tag name, value %>
    <% end %>
    <%= text_field_tag :q, params[:q], placeholder: "Search items...", class: "form-control" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
