<%= render "search/search_bar" %>

<h1>Search</h1>
<!-- p>Find me in app/views/search/index.html.erb</p -->

<% if @query.present? %>
  <p>Showing results for: <strong><%= h(@query) %></strong> (<%= @scope.capitalize %>)</p>
<% else %>
  <p>Type something above to search.</p>
<% end %>


<% if @results.present? %>
  <% @results.each do |item| %>
    <%= render "items/item", item: item %>
    <p><%= link_to "Show this item", item %></p>
    <hr style="border: 0; border-top: 1px solid #eee; margin: 20px 0;">
  <%end%>

<% elsif @query.present? %>
  <p>No items found. Try broader terms or check spelling.</p>
<% end %>

<%= link_to "Back to items", items_path %>