<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :price, "Price (#{current_currency_code})", style: "display: block" %>
    <%= form.text_field :price, value: item.price.present? ? Currency.convert_from_hkd(item.price, current_currency_code) : nil %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label :category_id, "Select a Category", style: "display: block" %>
    <%= form.collection_select :category_id, Category.sorted_for_dropdown, :id, :name, prompt: "Choose a category..." %>
  </div>

  <div>
    <%= form.label :is_global, "Make this item visible to all CUHK colleges? (Global)", style: "display: block" %>
    <%= form.check_box :is_global %>
  </div>

  <div>
    <%= form.label :latitude, style: "display: block" %>
    <%= form.text_field :latitude, placeholder: "e.g. 22.4195" %>
  </div>

  <div>
    <%= form.label :longitude, style: "display: block" %>
    <%= form.text_field :longitude, placeholder: "e.g. 114.2067" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
