<div id="<%= dom_id item %>">

  <div>
    <strong>Category:</strong>
    <%= item.category&.name || "Uncategorized" %>
  </div>

  <div>
    <strong>Title:</strong>
    <%= item.title %>
  </div>

  <div>
    <strong>Price:</strong>
    <%= display_price(item.price) %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= item.description %>
  </div>
</div>
